<!-- views/partials/header.ejs -->

<nav class="navbar navbar-expand-md navbar-dark bg-custom">
      <a class="navbar-brand" style="color:rgb(66,134,244)" href="/"><span>HACKATHON</span>HUB</h4></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link main-link" style="color:rgb(66,134,244)" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link main-link" style="color:rgb(66,134,244)" href="#">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link main-link" style="color:rgb(66,134,244)" href="#">Help</a>
          </li>
        </ul>
        
        <form action = "/searchreq" method= "post">
          <div class="form-inline mt-2 mt-md-0 real-search">
              <div class="input-group mb-3">
                <input type="text" class="form-control" id="eventName" name="eventName" placeholder="Search for events">
                <div class="input-group-append">
                  <button type="submit" class="btn btn-outline-secondary" value="accept">Search</button>
                </div>
              </div>
          </div>
        </form>
      </div>
</nav>

<br>