.container-fluid{
	/*width: 100vh !important;*/
}

#infoBg{
	background-image: url("img/HackathonHubPhoto.jpg");
	background-size: cover;
	/*background-color: #034439;*/
	background-repeat: no-repeat;
	color: #fff;
	width: 100vw;
	height: 100%;
}

.white {
	background-color: #fff;
	height: 1%;
}

span{
	margin-left: 5%;
	-webkit-text-stroke-width: 1px;
	color: rgba(255,255,255,0);
   -webkit-text-stroke-color: white;
}

#location{
	margin-bottom: 1%;
	margin-right: -2%;
}

h1{
	font-size: 600%;
	text-align: right;

}
#line {
	color: #fff;
	font-weight: 800px;
}

#formBg {
	background-color:  #034439;
	/*background-color: #0d9981;*/
	text-align: center;
	width:100vw;
	height: 100vh;
}

.subH2 {
	padding-left: 2%;
	margin-top:12%;
}
 p{
 	padding-left: 2%;
 	padding-right: 20%;
 	line-height: 2.5em;
 	color: #fff;
 }

#logo {
 	padding-top: 20%;
 }

.form-control {
	background-color: rgba(255,255,255,0) !important;
	border-color: rgba(119,3,86,0) !important;
	border-bottom-color: rgba(119,3,86,.25) !important;
}


#emailForm{
 	padding-top: 8%;
}

#pwForm {
	padding-top: 5%;
}

.btn {
	margin-top: 4%;
	text-align: center;
	box-shadow: 
}

#accLink {
	font-size: 50%;
	color: white !important;
	text-align: center;
}

a {
	font-size: 100% !important;
}

#dontHave {
	padding-top: 4%;
}
