<!DOCTYPE html>
<html>
<head>
	<title>HackathonHUB</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="hubLoginStyles.css">

</head>
<body>
	<div class="container-fluid">
		<div class="row" id="infoBg">
			<div class="col-lg-9">
				<h1><img class="img-fluid" id="location" src="img/location.png" width="80px" height="80px"><span>HACKATHON</span>HUB</h1>
				<div class="row white"></div>
				<!-- <div class="row" id="line"><p>______________________________________________________</p></div> -->
				<h2 class="subH2">What we do:</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pulvinar ac metus non imperdiet. Donec non pulvinar nunc. Quisque congue sapien ac volutpat ultrices. Ut mattis leo felis. Praesent lobortis enim quis venenatis consequat. Quisque quis massa erat. Maecenas sagittis purus lacinia consectetur rutrum. Aliquam ultricies bibendum metus ut egestas. Maecenas lacinia nisi at magna varius, vel vestibulum augue congue. Vivamus elit est, posuere in finibus sit amet, efficitur sodales augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus non lorem et orci varius molestie. Vivamus ex arcu, ornare at commodo quis, gravida nec diam.</p>
			</div> <!-- Info portion of login -->

			<div class="col-lg-3" id="formBg">
				<img class="img-fluid" id="logo" src="img/logo.png" width="200px" height="200px">
				<h3>Find your team !</h3>
				<form>
  					<div class="form-group" id="emailForm">
    					<!-- <label for="exampleInputEmail1"></label> -->
    					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="EMAIL ADDRESS">
    					<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  					</div>
  					<div class="form-group" id="pwForm">
    					<!-- <label for="exampleInputPassword1">Password</label> -->
    					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="PASSWORD">
  					</div>
  					<button type="submit" class="btn btn-primary">Sign In</button>
  				</form>
  				<div class="row">
  			<div class="col-lg-12" id="dontHave">
  				<div class="accLink">Don't have an account? <a id="join" href="#"> Click here</a></div>
  			</div>
  		</div>
		</div> <!-- log-in form portion	-->		
		</div>

		<div class="signUpBg">
			<div class="signUp-content">
				<div class="close">+</div>
				<h3><img src="img/hubSignUp.png" alt="hubSignUpLogo" width="200px" height="120px"><span class="popUpText">Join The Hub</span></h3>
				<form action="">
					<input class="popUp" type="form-text" placeholder="First Name">
					<input class="popUp" type="form-text" placeholder="Last Name">
					<input class="popUp" type="email" aria-describedby="emailHelp" placeholder="Email Address">
					<input class="popUp" type="password" placeholder="Password">
					<input class="popUp" type="password" placeholder="Re-Enter Password">
					<button type="button" class="popUp">Join</button>
				</form>
			</div>
		</div>

	</div>

	<script src="hubLoginActions.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>