.container-fluid{
  padding: 0 !important;
  width: 100% !important;
  overflow: hidden;
}
.upperThird {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background-image: radial-gradient(#1d6358,#1d6358,#034439,#034439);
	/*background-image: linear-gradient(to bottom right, rgb(4, 145, 93), rgb(87, 219, 203));*/
}

img {
	margin-top: 25%;
	margin-left: 75%;
}



.topLine{
	padding-top: 1%;
	padding-bottom: 1%;
}

span{
   -webkit-text-stroke-width: .5px;
   color: rgba(255,255,255,0);
   -webkit-text-stroke-color: white;
}

h4{
	color: #FFF !important;
	margin-top: 1%;
	margin-left: .5%;
}

.greyBg {
	background-color:rgba(190,190,190,0.5);
	border-radius: 25px;

}
.seeThru{
	margin-right: 20%;
}

.profilePic {
	margin-top: 25%;
	margin-left: 25%;
	padding-bottom: 35%;
}



.Link {
	padding-top: 10%;
	padding-left: 10%;
	font-weight: 200;
	color: #FFF;
	margin-right: 1%;
}

.AccLink {
	margin-top: 8%;
	font-weight: 200;
	margin-right: 1%;
}

.HelpLink {
	margin-top: 13%;
	font-weight: 200;
	color: #FFF;
	margin-right: 1%;
}

a {
	color: white !important;
}

a:hover {
	text-decoration: none !important;
}

h1 {
	margin-top: 3%;
	color: #FFF;
	font-weight: 100;
	font-size: 300%;
	text-decoration-line: 10%;
	/*text-decoration: 20em underline;*/
}

h5 {
	color: #FFF;
	font-weight: 100;
}

.info {
	padding-right: 8%;
}

.lowerTwoThirds{
	/*background-color: rgba(54, 155, 148,.35);
	height: 100%;*/ 
	background-image: url("img/HackathonHubPhoto.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2% 8%;
}

.teamBg {
	border-radius: 10px;
	background-color: rgba(113, 186, 164,.85);
}

.h4Teams {
	font-size: 200%
	font-weight: 200;
	text-align: center;
}

li {
	color: #FFF;
	font-weight: 200;
	font-size: 150%;/*
	border-bottom: solid;
	border-color: #000;*/
	padding: 5% 0;
}


.right {
	margin-right: 5%;
}


