body {
	background-color: #034439;
}
.container-fluid{
  padding: 0 !important;
  width: 100% !important;
  overflow: hidden;
}
.upperThird {
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	background: linear-gradient(178deg, #034439, #2b6d62, #52beac, #3d9889, #034439);
	/*background-image: linear-gradient(to bottom right, rgb(4, 145, 93), rgb(87, 219, 203));*/
}

img {
	margin-top: 1%;
	margin-left: 2%;
}

.topLine{
	padding-top: 1%;
	padding-bottom: 1%;
}

.Link {
	font-weight: 200 !important;
	color: #FFF;
	text-align: right;
	text-decoration: none !important;
}

span{
   -webkit-text-stroke-width: .5px;
   color: rgba(255,255,255,0);
   -webkit-text-stroke-color: white;

}

.seeThru{
	color: #FFF !important;
	margin-top: 1%;
	margin-left: .5%;

}

.greyBg {
	background-color:rgba(190,190,190,0.5);
	border-radius: 25px;

}

.profilePic {
	margin-top: 25%;
	margin-left: 25%;
	padding-bottom: 35%;
}

a {
	color: white !important;
	font-weight: 100 !important;
}

a:hover {
	text-decoration: none !important;
}

.info h1 {
	margin-top: 3%;
	color: #FFF;
	font-weight: 100;
	font-size: 300%;
	text-decoration-line: 10%;
	/*text-decoration: 20em underline;*/
}

.info h5 {
	color: #FFF;
	font-weight: 100;
}

.info {
	padding-right: 8%;
}

.lowerTwoThirds{
	/*background-color: rgba(54, 155, 148,.35);
	height: 100%;*/ 
	background-image: url("/assets/img/HackathonHubPhoto.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 2% 8%;
}

.teamBg {
	border-radius: 10px;
	background-color: rgba(113, 186, 164,.85);
}

.h4Teams {
	font-size: 200%
	font-weight: 200;
	text-align: center;
}

li {
	color: #FFF;
	font-weight: 200;
	font-size: 150%;/*
	border-bottom: solid;
	border-color: #000;*/
	padding: 5% 0;
}


.right {
	margin-right: 5%;
}


