<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<title>HackathonHUB</title>
</head>
<body>
	<script src="js/hubLoginActions.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<main>
	<div class="container-fluid">
		<div class="row" id="infoBg">
			<div class="col-lg-9">
				<h1 class="titleHeading"><img class="img-fluid" id="location" src="img/location.png" width="80px" height="80px"><span>HACKATHON</span>HUB</h1>
				<div class="row white"></div>
				<h2 class="subH2">What we do:</h2>
				<p class="subPlogin">HackathonHUB allows attendees to team up prior to the event if they are in need of group members. Upcoming hackathons will be posted with users being able to see a list of attendees for each particular one. These attendees will be grouped with their teammates and be sorted based on how many teammates they are looking for, or if they are looking to join a group. Searchability will be essential for the platform, to be able to navigate both hackathons and potential teammates. Users will also have profiles that include their social media platforms including LinkedIn and Github/BitBucket. 
</p>
			</div> <!-- Info portion of login -->

			<div class="col-lg-3" id="formBg">
				<img class="img-fluid" id="logo" src="img/logo.png" width="200px" height="200px">
				<h3>Find your team !</h3>
				<form action="/index" method="post">
  					<div class="form-group" id="emailForm">
    					<!-- <label for="exampleInputEmail1"></label> -->
    					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="EMAIL ADDRESS" name="email">
    					<!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  					</div>
  					<div class="form-group" id="pwForm">
    					<!-- <label for="exampleInputPassword1">Password</label> -->
    					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="PASSWORD" name="password">
  					</div>
  					<button type="submit" class="btn btn-raised btn-primary">Sign In</button>
  				</form>
  				<div class="row">
  			<div class="col-lg-12" id="dontHave">
  				<div class="accLink">Don't have an account? <a id="join" href="#"> Click here</a></div>
  			</div>
  		</div>
		</div> <!-- log-in form portion	-->		
		</div>

		<div class="signUpBg">
			<div class="signUp-content">
				<div class="close">+</div>
				<h3><img src="img/hubSignUp.png" alt="hubSignUpLogo" width="200px" height="120px"><span class="popUpText">Join The Hub</span></h3>
				<form action="/signup" method="post">
					<input class="popUp" type="form-text" placeholder="First Name" name="firstName">
					<input class="popUp" type="form-text" placeholder="Last Name" name="lastName">
					<input class="popUp" type="form-text" placeholder="Username" name="username">
					<input class="popUp" type="email" aria-describedby="emailHelp" placeholder="Email Address" name="email">
					<input class="popUp" type="password" placeholder="Password" name="password">
					<input class="popUp" type="password" placeholder="Re-Enter Password" name="password2"
					>
					<button type="submit" class="popUp">Join</button>
				</form>
			</div>
		</div>

	</div>
</main>
</body>
</html>