body {
	background-color: #034439;
}

#particles-js {
	background-color: #034439;
	height: 35vh;
	position: sticky;
}

canvas {
  display: block;
  vertical-align: bottom;
}

h2 {
	text-align: center;
	color: #fff;
	font-weight: 200;
	margin-top: 5%;
	font-size: 500%;
}

.hacks {
	height: 100vh;
}

.topLine{
	padding-top: 1%;
	padding-bottom: 1%;
}

#seeThru {
/*	margin-left: 5%;
	margin-right: 40%;*/
}

#Link {
	font-weight: 200;
	color: #FFF;
}

#AccLink {
	font-weight: 200;
}

#HelpLink {
	font-weight: 200;
	color: #FFF;
}

img {
	
	padding: 1%;
}


span{
   -webkit-text-stroke-width: .5px;
   color: rgba(255,255,255,0);
   -webkit-text-stroke-color: white;
}

a {
	color: white !important;
}

a:hover {
	text-decoration: none !important;
}

h4{
	color: #FFF !important;
	margin-top: 1%;
	margin-left: .5%;
}

#featuredArea {
	background-image: radial-gradient(#e5dec0,#1d6358,#034439);
	height: 70vh;
}

.footer {
	background-color: #61706e;
	height: 19vh;
	text-align: center;
}