body {
	background-color: #034439;
}

#particles-js {
	background-color: #034439;
	height: 35vh;
	position: sticky;

}

canvas {
  display: block;
  vertical-align: bottom;
}

h2 {
	text-align: center;
	color: #fff;
	font-weight: 200;
	margin-top: 5%;
	font-size: 400%;
}

.hacks {
	height: 100vh;
	text-shadow: 1px 0px 15px #82805f;
}

.topLine{
	padding-top: 1%;
	padding-bottom: 1%;
}

#Link {
	font-weight: 200;
	color: #FFF;
	text-align: right;
}

#Create,h1 {
	text-align: center;
	color: #fff;
	text-shadow: -1px -1px 12px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
	padding: 4.5% 0;
	font-weight: 210;
	font-size: 120px !important;
}

img {
	margin-top: 1%;
}


span{
   -webkit-text-stroke-width: .5px;
   color: rgba(255,255,255,0);
   -webkit-text-stroke-color: white;
}

a {
	color: white !important;
}

a:hover {
	text-decoration: none !important;
}

h4{
	color: #FFF !important;
	margin-top: 1%;
	margin-left: .5%;
}

h5{
	text-align: center;
	color: #fff;
}

#carouselExampleIndicators {
	background-image: radial-gradient(#e5dec0,#1d6358,#034439);
	height: 70vh;
}

.footer {
	background-color: #61706e;
	height: 120px;
	color: #000;
	text-align: center;
	font-family: 'IM Fell French Canon SC', serif;
}

#company {
	padding-top: 4%;
}

hr {
	display: block;
	border-style: solid;
    border-width: .5px;
    border-color: #eee;
}

.carousel-caption {
	background-color: rgba(20, 130, 111, .85);
	border-radius: 60px;
	padding: 0 !important;
}
